@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
    0.125em 0.125em 0.25em rgba(0,0,0,.15);

    --br: 0.5rem;
    --pd-def: 0.5rem;
}